{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "semi": ["warn", "always"],
    "quotes": ["error", "single"],
    "curly": "error",
    "no-empty": "error",
    "no-trailing-spaces": "warn",
    "comma-dangle": "off",
    "@typescript-eslint/no-explicit-any": [
      "error",
      {
        "fixToUnknown": true
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/explicit-member-accessibility": "error"
  },
  "overrides": [
    {
      "files": ["test/**/*"],
      "env": {
        "jest": true
      }
    }
  ]
}
